<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>McDonald's MyBurger</title>
	<link rel="stylesheet" href="main.css" />
	<style type="text/css"></style>
	<!-- Targeting Windows Mobile -->
	<!--[if IEMobile 7]>
	<style type="text/css">

	</style>
	<![endif]-->

	<!-- ***********************************************
	****************************************************
	END MOBILE TARGETING
	****************************************************
	************************************************ -->

	<!--[if gte mso 9]>
		<style>
		/* Target Outlook 2007 and 2010 */
		</style>
	<![endif]-->
</head>
<body>
<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
	<tr>
		<td valign="top" align="center">
			<table cellpadding="0" cellspacing="0" border="0" width="600">
				<tr>
					<td><img src="images/header.jpg" alt="Gratulálunk!" /></td>
				</tr>
				<tr>
					<td>
						<h1>Kedves XY!</h1>
						<p><strong>Gratulálunk, egyike vagy annak az 5 hamburgertervezőnek, akinek a szendvicse a legtöbb szavazatot kapta az Én hamburgerem 2013-as játékában.</strong></p>
						<p>Most rajtunk a sor: az 5 legnépszerűbb hamburgertervet (köztük természetesen a tiédet is) tesztkonyhára visszük, elkészítjük és véglegesítjük. A szendvicsek elnevezéseit kötelező jogi ellenőrzésnek kell alávetnünk, hiszen kettőt közülük nemsokára a McDonald’s menütábláin láthatsz viszont.</p>
						<p><strong>2013. augusztus 22-én fog kiderülni, hogy ki lesz az a 2 szerencsés, akinek a saját tervezésű hamburgerét bárki megkóstolhatja majd a Mekiben. </strong> <br>A 2 befutót egy szakmai zsűri fogja kiválasztani ezen a napon.</p>
						<p>Arra kérünk, hogy <strong>2013. július 8-án estig, az_en_hamburgerem@mcdonalds.hu e-mail címen értesíts minket</strong> arról, hogy számíthatunk-e rád a 2013. augusztus 22-i eseményen, illetve hogy <strong>egyúttal küldd el nekünk a levélhez csatolt, kitöltött és aláírt nyilatkozatot</strong> is. Fontos, hogy az aláírásodat 2 tanúnak is hitelesítenie kell. A kinyomtatott, kitöltött és aláírt nyilatkozatot az eseményre is hozd magaddal!</p>
						<p>Kérjük, hogy a válaszlevélben <strong>telefonos elérhetőségedet</strong> is add meg, hogy ezután egyszerűbben felvehessük veled a kapcsolatot!</p>
						<p>Minden további fontos információval a későbbiekben jelentkezünk.</p>
						<p>Üdvözlettel: <br>a McDonald’s Magyarország csapata</p>
						<p>2013. június 27.</p>
					</td>
				</tr>
				<tr>
					<td class="footer">
						<small>Ha a játékosok a fent megadott határidőig nem jelzik, hogy szeretnének részt venni az eseményen, akkor a meghívást elutasítottnak tekintjük. Ha viszont elfogadják a meghívást, akkor a Játékszabályzat rendelkezéseit magukra nézve továbbra is kötelezőnek tekintik. A fenti eseményen video- és fényképfelvételek készülhetnek, amit a meghívás elfogadásával a játékosok szintén tudomásul vesznek.</small>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<!-- End of wrapper table -->

</body>
</html>